@keyframes move_star { 
    0%,100%{ 
        transform: rotate(0deg);
        margin-left: 5%; 
        margin-top: 0px;
    } 
    25%{ 
        margin-left: 90%; 
        margin-top: 0px;
    }  

    50% { 
        margin-left: 90%; 
        margin-top: 515px; 

        background-color: #29292E;
        background-image: linear-gradient(to right,
        rgba(9, 9, 10, 1),
        rgba(141, 141,153,1),);
    }

    75%{ 
        margin-left: 5%; 
        margin-top: 515px; 

        background-color: #29292E;
        background-image: linear-gradient(to right,
        rgba(9, 9, 10, 1),
        rgba(141, 141,153,1),);
        transform: rotate(360deg);
    }
}

@keyframes rotateImg {
    from { transform: rotate(0deg) } to { transform: rotate(360deg) }
}

@keyframes rotateImg2 {
    from { transform: rotate(360deg) } to { transform: rotate(0deg) }
}


