@keyframes move_star { 
    0%,100%{ 
        transform: rotate(0deg);
        margin-left: 5%; 
        margin-top: 0px;
    } 
    25%{ 
        margin-left: 90%; 
        margin-top: 0px;
    }  

    50% { 
        transform: rotate(120deg);
        margin-left: 90%; 
        margin-top: 515px; 

        background-color: #29292E;
        background-image: linear-gradient(to right,
        rgba(9, 9, 10, 1),
        rgba(141, 141,153,1),);
    }

    75%{ 
        transform: rotate(240deg);
        margin-left: 5%; 
        margin-top: 515px; 

        background-color: #29292E;
        background-image: linear-gradient(to right,
        rgba(9, 9, 10, 1),
        rgba(141, 141,153,1),);
        transform: rotate(360deg);
    }
}

@keyframes rotateImg {
    from { transform: rotate(0deg) } to { transform: rotate(360deg) }
}

@keyframes rotateImg2 {
    from { transform: rotate(360deg) } to { transform: rotate(0deg) }
}


@keyframes degrade1 {
    from { 
        top: -696px;
        background: radial-gradient(50% 50% at 50% 50%, #FFC323 -200%, rgba(18, 18, 20, 0) 100%);
        transform: scale(.5)
    }

    to { 
        top: 696px;
        background: radial-gradient(50% 50% at 50% 50%, #FF3D6E -200%, rgba(18, 18, 20, 0) 100%);
        transform: scale(1)
    }
}

@keyframes degrade2 {
    from { 
        top: 696px;
        background: radial-gradient(50% 50% at 50% 50%, #FF3D6E -200%, rgba(18, 18, 20, 0) 100%);
        transform: scale(.5)
    }

    to { 
        top: -696px;
        background: radial-gradient(50% 50% at 50% 50%, #FFC323 -200%, rgba(18, 18, 20, 0) 100%);
        transform: scale(1)

    }
}