.config-gear {
    background-color: #FF3D6E;
    background-image: var(--gradient-gear);
    height: 40px;
    width: 40px;

    clip-path: var(--gear);
    position: absolute;
}

/* circle */
#circle {
    height: 300px;
    width: 300px;
    top: 40px;
    right: 100px;

    animation: rotateImg2 10s linear infinite;
    border: 60px solid #ff7a29;
    clip-path: circle(50% at 50% 50%);

    display: flex;
    justify-content: space-between;

    position: absolute;

    border-radius: 50%;
}

#circle img {
    margin: auto;
    height: 17px;
    /* padding: .5rem; */
     border-radius: 1rem;
    animation: rotateImg 10s linear infinite; 
    /* border: 1px groove rgba(255, 205,30,1); */

    padding: 2.5rem
}

.content-circle {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.test123 {
    margin-left: -4rem;
}

.circle-slider {
    height: 30px;
    width: 30px;

    animation: rotateImg 10s linear infinite;
    border: 6px solid rgba(255, 205,30,1);
    clip-path: circle(50% at 50% 50%);
}

